@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('~ngx-toastr/toastr');

html,body{
    margin: 0;
}

:root {
    --primary-color: #575757;
    --secondary-color: #57575748;
    --body-text-color: #596392;
    --navbar-footer-color: #F9F9F9;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color:var(--body-text-color);
    display: contents;
}

.site-logo{
    padding: 5px 20px;
    border-radius: 20px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    color: var(--primary-color);
}

.nav-link{
    color: var(--primary-color);
}

.shadow-effect{
    border: none;
    box-shadow: 0px 0px 33px -10px rgba(71, 114, 254, 0.3) !important;
}

.bg-theme{
    background-color: var(--primary-color) !important;
}

.bg-theme-secondary{
    background-color: var(--secondary-color) !important;
}

.text-theme-primary{
    color: var(--primary-color) !important;
}
input[type = text], input[type = email], input[type = password]{
    height: 60px;
    padding: 20px;
    width: 100%;
}

.btn-theme{
    height: 38px;
    border: none;
    width: 150px;
    background-color: var(--primary-color) !important;
    color: var(--navbar-footer-color) !important;
}

.ml-2{
    margin-left: 1rem !important
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
